/*main_prologue.css*/
@import url('https://fonts.googleapis.com/css?family=Coiny');


body {
    background: #fff;
}
.cloud-text {
  font-family: 'Coiny', cursive;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  background-image: url(../../img/blue_clouds.jpg);
  background-size: auto;
  background-attachment: unset;
  background-position: 0%;
  width: 80%;
  margin: 10%;
  font-size: 150px;
  animation: clouds-moving infinite 220s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: linear;
  text-align: center;
}
@keyframes clouds-moving {
  0% {
    background-position: 0%;  
  }
  50% {
    background-position: 100%;  
  }
  100% {
    background-position: 0%;
  }
}
.attribute {
  position: relative;
  font-size: 60px;
  text-align: center;
    transition: all 300ms ease;

}
.attribute:hover{
  font-size: 100px;
  transition: all 300ms ease;
}
.attribute>a:focus,
.attribute>a:active{
  background-color:inherit;
}